input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    display: block;
    border: 2px solid white;
    border-radius: 0px !important;
    min-height: 63px;
    width: 100%;
    margin-top: 0px;
    padding-left: 15px;
    color: $color_button;
    background-color: transparent;
    text-decoration: none;
    font-family: $font_button;
    font-weight: 500;
    font-size: $font_button_size;
    line-height: 63px;
    transition: 0.4s;

	&:focus {
		color: black;
        background-color: rgba(255,255,255,0.89);
        border: 2px solid $color_yellow;
        transition: 0.4s;
	}
}

input[type="search"] {
    padding-right: 43px;
    line-height: 45px;
    min-height: 45px;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


.form_field {

}