// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

html, body {
    margin: 0;
    background-color: $color_darkgrey;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

@media screen and (max-width: 599px) {
    body {
        padding-bottom: 116px;
    }
}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.button1 {
    display: block;
    border: 2px solid $color_yellow;
    width: 200px;
    min-height: 63px;
    margin-top: 25px;
    color: $color_button;
    background-color: transparent;
    text-decoration: none;
    font-family: $font_button;
    font-weight: 700;
    font-size: $font_button_size;
    line-height: 63px;
    text-align: center;
}

.button_nav {
    position: absolute;
    right: 0;
    margin-top: 6px;
    padding: 7px 20px 9px;
    background-color: transparent;
    border: 1px solid #75736f;
    border-radius: 0px;
    font-family: $font_nav;
    font-weight: 700;
    font-size: $font_button_size;
    line-height: 30px;
    text-align: center;
    color: white;
}


/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
.section_title {
    margin: 0 0 20px 0;
    color: $color_heading;
    font-family: $font_heading;
    font-weight: 700;
    font-size: $font_heading_size;
    line-height: 30px;
}

/*--------------------------------------------------------------
## Text
--------------------------------------------------------------*/
p {
    margin: 0;
    padding: 0;
    font-family: $font_main;
    color: $color_text;
    font-size: $font_main_size;
    line-height: 24px;
}

.text_overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    padding: 50px 0px;
    
    
    .text_overlay_wrap {
        padding: 31px;
        border-left: 4px solid $color_heading;
    }
}

.text_overlay_left {
    right: 40px;
    width: calc(100% - 40px);
    padding-left: 115px;
}

/*--------------------------------------------------------------
## Hero Sections
--------------------------------------------------------------*/
.hero_section {
    overflow: hidden;
}

.page_hero_container {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .hero_text_overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $color_shopnews_overlay;
        
        .hero_text_wrap {
            position: absolute;
            top: 25%;
//            bottom: 65%;
//            transform: translateY(50%);
            left: 25px;
            max-width: 335px;
            padding: 10px 25px;
            border-left: 3px solid $color_yellow;
            z-index: 99;
            
            h1 {
                margin: 0;
                padding: 0 0 19px;
                color: $color_heading;
                font-family: $font_heading;
                font-size: $font_heading_slidersize;
                letter-spacing: -1px;
                line-height: 38px;
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 400px) {
    .page_hero_container .hero_text_overlay .hero_text_wrap {
        left: 45px;
        padding: 20px 25px;
    }
}

@media screen and (max-height: 400px) {
    .page_hero_container {
        height: 100vh;
    }
}